* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
      scroll-behavior: smooth;
    }

    body {
      padding-top: 70px; /* para que el navbar fijo no tape el contenido */
    }

    section {
      padding: 80px 0;
      scroll-margin-top: 80px;
    }

    footer {
      background-color: #f8f9fa;
      padding: 20px 0;
      text-align: center;
      margin-top: 50px;
    }

    .hero {
      background: url('assets/img/ABLINDUSTRIAL70x70.png') no-repeat center center;
      background-size: cover;
      height: 70vh;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      text-shadow: 1px 1px 4px rgba(0,0,0,0.8);
    }

    .navbar {
      transition: background-color 0.3s;
    }

    .navbar.scrolled {
      background-color: rgba(33, 37, 41, 0.95) !important;
      box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    }
h2 {
  color: #212529;
}
.carousel-item img {
  max-height: 450px;
  object-fit: contain; /* recorta manteniendo proporción */
}

/*  diseño del formulario*/
.form-control {
  background-color: #ffffff;
  border-color: #ced4da;
}
.form-control:focus {
  border-color: #6c757d;
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.25);
}
.btn-primary {
  background-color: #6c757d;
  border-color: #6c757d;

}
.btn-primary:hover {
  background-color: #5a6268;
  border-color: #545b62;
}
.alert-success {
  background-color: #d4edda;
  color: #155724;
  border-color: #c3e6cb;
}


body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #888;
  color: #212529;
}

main {
  flex: 1;
}

.scroll-col {
  max-height: 80vh;
  overflow-y: auto;
  padding-right: 1rem;
}

.fixed-col {
  background-color: #f4f4f4;
  min-height: 80vh;
  padding: 1rem;
}

    /* Mostrar dropdown al pasar el mouse */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  background-color: rgb(94, 94, 99);
}


footer a {
    color: #ccc; /* color inicial */
    text-decoration: none;
    transition: color 0.3s, text-decoration 0.3s;
  }

  footer a:hover {
    color: #0dcaf0; /* celeste Bootstrap */
    text-decoration: underline;
  }
.noticia {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
.noticia:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}
.noticia img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
#noticias {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: auto;
}
.contenido {
  padding: 15px;
}

.contenido h2 {
  margin: 0 0 10px;
  font-size: 1.3em;
  color: #1a5276;
}

.contenido small {
  display: block;
  color: #777;
  margin-bottom: 10px;
}

.contenido p {
  font-size: 0.95em;
  line-height: 1.4em;
}

