* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
h2 {
  color: #212529;
}
.form-control {
  background-color: #ffffff;
  border-color: #ced4da;
}
.form-control:focus {
  border-color: #6c757d;
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.25);
}
.btn-primary {
  background-color: #6c757d;
  border-color: #6c757d;

}
.btn-primary:hover {
  background-color: #5a6268;
  border-color: #545b62;
}
.alert-success {
  background-color: #d4edda;
  color: #155724;
  border-color: #c3e6cb;
}


body {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #212529;
}

main {
  flex: 1;
}

.scroll-col {
  max-height: 80vh;
  overflow-y: auto;
  padding-right: 1rem;
}

.fixed-col {
  background-color: #f4f4f4;
  min-height: 80vh;
  padding: 1rem;
}

    /* Mostrar dropdown al pasar el mouse */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  background-color: rgb(94, 94, 99);
}
footer {
  background-color: #1a1a1a;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 400px;
  color: #f8f9fa;
}
footer a {
    color: #ccc; /* color inicial */
    text-decoration: none;
    transition: color 0.3s, text-decoration 0.3s;
  }

  footer a:hover {
    color: #0dcaf0; /* celeste Bootstrap */
    text-decoration: underline;
  }
.noticia {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
.noticia:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}
.noticia img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
#noticias {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: auto;
}
.contenido {
  padding: 15px;
}

.contenido h2 {
  margin: 0 0 10px;
  font-size: 1.3em;
  color: #1a5276;
}

.contenido small {
  display: block;
  color: #777;
  margin-bottom: 10px;
}

.contenido p {
  font-size: 0.95em;
  line-height: 1.4em;
}
